# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment secrets
.env
app/.env

# IDE
.vscode/
.idea/

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Runtime uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

app/static/gradcam/*
!app/static/gradcam/.gitkeep

# ML model files
*.keras
*.h5

# OS
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Large datasets / generated data
data/
dataset/
processed/