<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Lung Nodule Classification
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for(
            'static',
            filename='css/style.css'
        ) }}"
    >

</head>

<body>

    <header class="site-header">

        <div class="header-inner">

            <div>
                Lung Nodule Classification
            </div>

            <span>
                Research Prototype
            </span>

        </div>

    </header>


    <main class="container">

        {% block content %}
        {% endblock %}

    </main>


    <footer class="site-footer">

        MSc Dissertation Research Prototype

    </footer>

</body>

</html>